/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: 100%;
    height: 100vh;
    background-image: url("../assets/images/background.png");
} */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-play-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #000000;
    backdrop-filter: blur(20px);
}

.logo {
    width: 70%;
    margin-bottom: 15px;
}

.button {
    width: 70%;
    border: none;
    height: 45px;
    border-radius: 4px;
    background-color: black;
    transition: border 0.3s ease-in-out;
}

.button a {
    display: flex;
    justify-content: center;
    font-family: 'MKX Title';
    cursor: pointer;
    font-size: 1.8rem;
    color: #fbac18;
    text-decoration: none;
}

.button:hover,
.button:focus {
    border: 0.2px solid #fbac18;
}


/* ********** MEDIA QUERIES ********** */

/* TABLETS */

@media screen and (min-width: 768px) {

    .button {
        height: 60px;
    }

    .button a {
        font-size: 2.2rem;
        letter-spacing: 3px;
    }

}


/* DESKTOPS */

@media screen and (min-width: 1024px) {

    .card-play-box {
        width: 35%;
    }

    .button {
        height: 50px;
    }

    .button a {
        font-size: 1.8rem;
    }

}