*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/background.png");
    background-repeat: repeat;
    background-size: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.logo-mk11 {
    display: flex;
    margin: 0 auto;
    width: 30%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    filter: grayscale(100%);
}

.input-card{
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card:hover {
    filter:none;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards-battle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1, .card2{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1 img, .card2 img{
    width: 200px;
    padding: 10px;
}


.vs {
    width: 40px;
}

input {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 48.5%;
}

.fight-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: black;
    transition: .3s;
}

.fight-btn img {
    width: 60px;
}

.fight-btn:hover {
    border: 1px solid #fbac18;
}